.course-box {
  background-color: white;
  box-shadow: 0 0 19px rgba(168, 172, 185, 0.3);
  border-radius: 1rem;
  margin: 2rem 0;
  transition: all 400ms ease;
}

.course-box:hover {
  transform: translateY(-0.6rem);
}

.course-box__img {
  width: 100%;
  border-radius: 1rem 1rem 0 0;
}

.course-box__main {
  padding: 0 1.2rem;
}

.course-box__title {
  display: block;
  padding: 1rem 0;
}

.course-box__rating-teacher {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-box__teacher {
  display: flex;
  align-items: center;
}

.course-box__teacher-icon {
  color: #6c757d;
  font-size: 1.8rem;
}

.course-box__teacher-link {
  color: #6c757d;
  font-size: 1.2rem;
  margin-right: 0.4rem;
}

.course-box__star {
  margin: -0.2rem;
}

.course-box__status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}

.course-box__users-icon {
  color: #6c757d;
  font-size: 1.6rem;
}

.course-box__users-text {
  color: #6c757d;
  font-size: 1.4rem;
}

.course-box__price {
  color: #9c9c9c;
  font-size: 1.8rem;
}

.course-box__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #e8e8e8;
}

.course-box__footer-link {
  display: flex;
  align-content: center;
  justify-content: center;
  color: #1eb35b;
  font-size: 1.5rem;
  font-weight: bold;
}

.course-box__footer-icon {
  margin-right: 0.5rem;
  font-size: 1.9rem;
}
.course-box-footer-box{
  width: 34%;
  border: 1px solid #e8e8e8;
  border-radius: 0 0 10px 10px;
  color: #9c9c9c;
  padding: 10px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.course-box-footer-box img{
  width: 26px;
  height: 26px;
  opacity: 0.5;
  margin-bottom: 7px;
}
.course-box-footer-box p{
  display: flex;
  align-items: center;
  justify-content: center;
}