.bot-camp{
    max-width: 1360px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 100px;
}
.title-info-bot-camp{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-info-bot-camp h1{
    text-align: center;
  padding: 58px 0 20px;
  font-size: 60px;
}
.title-info-bot-camp p{
    text-align: center;
  width: 860px;
}
.box-botcamp-container{
    display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 30px;
  gap: 30px 0;
}
.bot-camp-box-title h1{
    font-size: 25px;
}
.bot-camp-box p{
    width: 380px;
    margin: 10px 0;
  color: #B4B4B4;
}
.bot-camp-box{
    width: 432px;
    background-color: #0b223e;
    border-radius: 30px;
    color: white;
    border: solid white;
}

.bot-camp-box-img{
    height: 243px;
  width: 427px;
  border-radius: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bot-camp-box-title{
    display: flex;
  align-items: center;
  gap: 17px;
  width: 432px;
}
.icon-bot{
    width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-bot img{
  width: 30px;
}
.teacher-people-bot{
    display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.bot-camp-box button{
    margin-top: 25px;
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 15px;
  background-color: #8EB69B;
  color: white;
}
.bot-camp-box-info{
    padding: 21px 21px;
}
.people-bot{
    padding: 10px 15px;
  background-color: #8EB69B;
  border-radius: 15px;
}

