.account-form .row{
    display: grid;
  grid-template-columns: 1000px;
  gap: 0 15px;
  margin-top: 45px;
}
.account-detail-container{
    width: 1035px;
}
.password-change{
    padding-bottom: 10px;
    font-size: 25px;
    margin: 30px 0;
    
}