/* ============================== Content Main Style ============================== */
.order {
  border-right: 2px solid #2bce56;
  padding-right: 3rem;
}
.order__table {
  width: 100%;
}
.order__table-header {
  border-bottom: 1px solid #85858570;
}
.order__table-header-item {
  font-size: 1.5rem;
  font-weight: bold;
}
.order__table-body-list {
  border-bottom: 1px solid #85858570;
}
.order__table-body-item {
  font-size: 1.4rem;
}
.order__table-body-btn {
  display: block;
  margin: 0.9rem 0;
  background-color: #2bce56;
  color: var(--white-color);
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.7rem 0;
  max-width: 7.5rem;
  border-radius: 0.3rem;
}
.order__table-body-btn:hover {
  color: var(--white-color);
  background-color: #33b355;
}
.order__btn {
  display: block;
  margin: 0.9rem 0;
  background-color: #2bce56;
  color: var(--white-color);
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 0.9rem 0;
  max-width: 7.5rem;
  border-radius: 0.3rem;
}
.order__btn:hover {
  color: var(--white-color);
  background-color: #33b355;
}
/* ============================== Content Main Style ============================== */

.order-info-container{
  width: 1100px;
}
.user-info-table{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: #e7e7e7 solid 1px;
  padding-bottom: 15px;
}
.order-info-container h1{
  margin-bottom: 20px;
}
.order-info-table-container{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.order-info-button{
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: #4fd672;
  color: white;
  margin-top: 8px;
  font-size: 19px;
}

.order-back-container{
  margin-top: 60px;
}
.bank-order-info{
  margin: 15px 20px;
}
.bank-order-info p{
  color: #bfbfc0;
}