/* Start Footer Styles */

.footer-widgets {
    background-color: #f0f2f7;
    border-radius: 1rem;
    padding: 4rem 3.5rem;
    position: relative;
    margin-bottom: 5rem;
    max-width: 1300px;
  margin: auto;
    
  margin-top: 4rem;
  }
  
  .footer-widgets::before {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 4rem;
    width: 50rem;
    background-color: #1fbd50;
    z-index: -1;
    bottom: -1.5rem;
    border-radius: 5rem;
  }
  
  .footer-widgets__title {
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 2rem;
    position: relative;
  }
  
  .footer-widgets__title::before {
    content: "";
    position: absolute;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #1fbd50;
    border-radius: 0.7rem;
    right: 1rem;
    opacity: 0.3;
    transform: rotate(45deg);
  }
  
  .footer-widgets__text {
    color: #7d7e7f;
  }
  
  .footer-widgets__links {
    display: flex;
    flex-direction: column;
  }
  
  .footer-widgets__link {
    display: block;
    margin-bottom: 1rem;
  }
  
  .footer__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f7;
    padding: 3rem 0;
  }
  
  .footer__copyright-text {
    color: black;
    font-weight: bold;
  }
  
  .footer-widgets .row{
    gap: 20px;
  }

  /* Finish Footer Styles */
  
.footer{
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 27px 64px;
}
.about-us-footer p{
  width: 370px;
  margin-top: 20px;
}
.img-footer img{
  width: 233px;
}
.row-footer{
  margin-top: 12px;
}
.title-footer h1{
  font-size: 24px;
}

.links-footer{
  display: flex;
gap: 80px;
}

@media (min-width: 320px) and (max-width: 600px) {

  /*********************************Header*********************************/
  .hamburger-icon{
      display: block;
  }
  .nav-bar-right ul{
      display: none;
  }
  .nav-bar{
      max-width: 78%;
      gap: 19px;
      padding: 18px 20px;
  }
  .logo img{
      margin-left: 10px;
      width: 70px;
  }
  .name-nav{
      padding: 10px;
  }

  /******************************Landing************************************/
  .landing{
    flex-direction: column-reverse;
  padding-top: 14px;
  max-width: 450px;
  }
  .landing-left{
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin-right: 23%;
  }
  .search-landing input{
    width: 69% !important;
  }
  .landing-left-bottom{
    flex-direction: column;
  align-items: baseline;
  width: 86%;
  }
  .landing-right img{
    width: 300px;
  }
  /********************************BOT camp**********************************/
  .box-botcamp-container{
    align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  }
  .bot-camp-box-img{
    width: 100%;
  height: 200px;
  }
  .bot-camp-box-info{
    padding-top: 3px;
  }
  .bot-camp-box-title h1{
    font-size: 25px !important;
    width: 54%;
  }
  .bot-camp-box{
    width: 88%;
  }

  /**********************************courses********************************/
  .courses-content .container .row{
    display: flex;
    flex-direction: column;
  }
  .courses-content .container .row .col-4{
    width: 93%;
  }
  .course-box-footer-box{
    border-bottom: 0px;
  border-top: 0px;
  white-space: nowrap;
  font-size: 13px;
  }

  /*****************************Loan*************************************/
  .loan-container{
    width: 93%;
  }
  .loan-title{
    flex-direction: column;
  }

  /*****************************About Us*************************************/

  .about-us .container{
    width: 96%;
    display: flex;
    flex-direction: column;
  }

  /********************************Articles**********************************/
  .articles__content .row{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  }
  .articles__content .row .col-4{
    width: 90% !important;
  }
  .articles__card{
    width: 100% !important;
  }
  .article-card__img{
    width: 100% !important;
  }
  .article-card{
    width: 100% !important;
  }

  /******************************Footer************************************/
  .footer{
    flex-direction: column;
  justify-content: center;
  gap: 20px;
  }

  /******************************course-page************************************/


  .breadcrumb .container{
    display: flex;
  align-items: center;
  padding: 0 20px;
  }
  .breadcrumb__content{
    overflow: hidden;
  white-space: nowrap;
  width: 100%;
  align-items: center;
  }
  .course-info{
    width: 90% !important;
  }
  .course-info .container .row{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }
  .course-info .col-6 video{
    width: 100% !important;
  margin-right: 0;
  margin-bottom: 30px;
  }
  .main{
    padding: 0 !important;
  }
  .my-row{
    width: 100%;
  max-width: auto;
  gap: 0;
  display: block;
  }
  .my-row .col-8{
    width: 100%;
  }
  .course{
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  .course-boxes .row{
    display: grid;
    grid-template-columns: 54% 54%;
    align-items: center;
    justify-content: center;
    margin-right: 49px;
  }
  .course-boxes .row .col-4{
    width: 80%;
  display: flex;
  align-items: center;
  }
  .course-progress{
    width: 93%;
  }
  .introduction{
    width: 90%;
  }
  .introduction img{
    width: 100%;
  }
  .introduction__btns{
    display: flex;
  flex-direction: column;
  }
  .techer-details{
    width: 90%;
  }
  .course-info p{
    width: 100% !important;
  }
  .main p{
    width: 100% !important;
  }
  .courses-info{
    display: none !important;
  }
  .course-boxes{
    width: 100%;
  }
  .comments{
    width: 90%;
  }

  .login{
    width: 85% !important;
  }

  .user-score-time-res{
    display: none !important;
  }
  .comment-box{
    width: 90%;
  }
}



@media (min-width: 600px) and (max-width: 800px) {
  /*********************************Header*********************************/

  .hamburger-icon{
    display: block;
  }
  .nav-bar-right ul{
      display: none;
  }
  .nav-bar{
      max-width: 78%;
      gap: 19px;
      padding: 18px 20px;
  }
  .logo img{
      margin-left: 10px;
      width: 70px;
  }
  .name-nav{
      padding: 10px;
  }
}

@media (min-width: 600px) and (max-width: 700px){
  .loan-title{
    flex-direction: column;
  }
}

@media (min-width: 320px) and (max-width: 650px){
  .row-about{
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  .about-us-box{
    width: 90%;
  }
  
}

@media (min-width: 600px) and (max-width: 750px){
  .about-us .container .container .row{
    width: 96%;
    display: flex;
    flex-direction: column;
  }
  .row-about{
    display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  gap: 30px;
  }

  .container-about{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  
}

@media (min-width: 360px) and (max-width: 750px){
  .courses-top-bar__right{
    display: none !important;
  }
  .courses-top-bar{
    width: 95%;
  }
}

@media (min-width: 600px) and (max-width: 1100px){

  p{
    width: 85% !important;
  }
  .landing h1{
    font-size: 50px;
  }

  .nav-bar{
    padding: 16px 27px;
    width: 93%;
  }
  .logo img{
    margin-left: 30px;
  }
  .nav-bar-right ul{
    gap: 40px;
  white-space: nowrap;
  }
  .nav-bar-right ul li{
    font-size: 14px;
  }
  .nav-bar-right ul a{
    font-size: 14px;
  }
  .name-nav{
    padding: 10px;
  }

  .landing{
    flex-direction: column-reverse;
  padding-top: 14px;
  max-width: 800px;
  }
  .landing-left{
    max-width: 450px;
    display: flex;
    flex-direction: column;
  }
  .search-landing input{
    width: 69% !important;
  }
  .landing-left-bottom{
    white-space: nowrap;
  }
  .landing-right img{
    width: 300px;
  }
  .search-landing img{
    margin-left: 156px;
    margin-top: 25px;
    margin-right: 0;
  }
  .title-info-bot-camp h1{
    font-size: 50px;
  }

  .box-botcamp-container{
    display: grid;
  grid-template-columns: 49% 49%;
  margin-top: 30px;
  gap: 30px 10px;
  align-items: center;
  margin-right: 20px;
  }
  .bot-camp-box-img{
    width: 100%;
  height: 240px;
  }
  .bot-camp-box-info{
    padding-top: 3px;
  }
  .bot-camp-box-title{
    width: 100%;
  }
  .bot-camp-box-title h1{
    font-size: 29px !important;
    width: 100%;
  }
  .bot-camp-box{
    width: 95%;
  }

  .courses-content .container .row{
    grid-template-columns: 48% 48%;
  }
  .courses-content .container .row .col-4{
    width: 93%;
  }
  .course-box-footer-box{
    border-bottom: 0px;
  border-top: 0px;
  white-space: nowrap;
  font-size: 13px;
  }



  .loan-container{
    width: 93%;
  }
  
  

  .articles__content .row{
    display: grid;
  grid-template-columns: 50% 50%;
  gap: 22px 0px;
  margin-right: 20px;
  }
  .articles__content .row .col-4{
    width: 90% !important;
  }
  .articles__card{
    width: 100% !important;
  }
  .article-card__img{
    width: 100% !important;
  }
  .article-card{
    width: 100% !important;
  }

  .row-about{
    display: grid;
  grid-template-columns: 48% 48%;
  gap: 16px;
  align-items: baseline;
  margin-right: 18px;
  }

  .footer{
    flex-direction: column;
  justify-content: center;
  gap: 20px;
  }

  .courses-top-bar{
    width: 95%;
  }

   /******************************course-page************************************/


   .breadcrumb .container{
    display: flex;
  align-items: center;
  padding: 0 20px;
  }
  .breadcrumb__content{
    overflow: hidden;
  white-space: nowrap;
  width: 100%;
  align-items: center;
  }
  .course-info{
    width: 90% !important;
    padding-bottom: 0;
  }
  .course-info .container .row{
    display: flex;
    align-items: center;
    gap: 30px;
  }
  .course-info .col-6 {
    width: 100%;
  }
  .course-info .col-6 video{
    width: 100% !important;
  margin-right: 0;
  margin-bottom: 30px;
  }
  .course-info .container{
    display: flex;
  gap: 10px;
  }
  .main{
    padding: 0 !important;
  }
  .my-row{
    width: 100%;
  max-width: auto;
  gap: 0;
  display: block;
  }
  .my-row .col-8{
    width: 100%;
  }
  .course{
    display: flex;
  flex-direction: column;
  align-items: center;
  }
  .course-boxes .row{
    display: grid;
    grid-template-columns: 54% 54%;
    align-items: center;
    justify-content: center;
    width: 89%;
    margin-right: 12%;
  }
  .course-boxes .row .col-4{
    width: 80%;
  display: flex;
  align-items: center;
  }
  .course-progress{
    width: 93%;
  }
  .introduction{
    width: 90%;
  }
  .introduction img{
    width: 100%;
  }
  .introduction__btns{
    display: flex;
  flex-direction: column;
  }
  .techer-details{
    width: 90%;
  }
  .course-info p{
    width: 100% !important;
  }
  .main p{
    width: 100% !important;
  }
  .courses-info{
    display: none !important;
  }
  .course-boxes{
    width: 100%;
  }
  .comments{
    width: 90%;
  }
  .login{
    width: 85%;
  }
  .user-score-time-res{
    display: none !important;
  }
  .comment-box{
    width: 90%;
  }
}

@media (min-width: 600px) and (max-width: 1100px){
  
  .courses-top-bar input{
    width: 100%;
  }
  .user-score-time-res{
    display: none;
  }
  .comment-box{
    width: 90%;
  }
}


@media (min-width: 650px) and (max-width: 1100px){
  .links-footer{
    display: flex;
  gap: 100px;
  }
}

