
@font-face {
    font-family: iran;
    src: url(../../fonts/IRANSans/IRANSans_Black.ttf);
}

*{
    font-family: iran;                                          
}
.container{
    max-width: 1280px;
    margin: auto;
}
.row{
    display: grid;
    grid-template-columns: auto auto auto;
}
a{
    color: black;
    text-decoration: none;
}
button{
    cursor: pointer;
}