.courses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.courses-header__right {
  display: flex;
  flex-direction: column;
}

.courses-header__text {
  color: #9c9c9c;
  font-size: 1.5rem;
}

.courses-header__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #1eb35b;
  text-decoration: none;
  gap: 10px;
}

.courses-header__link:hover {
  color: white;
}

.courses-header__icon {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
