.comment-box{
    background-color: rgba(242, 242, 242, 1);
    height: 300px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.comment-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.user-image-name-role{
    display: flex;
  align-items: center;
  width: 40%;
}
.user-score-time-res{
    display: flex;
  align-items: center;
  gap: 30px;
}
.comment-user img{
    width: 70px;
}
.comment-info-user{
    display: flex;
    align-items: center;
    gap: 10px;
}
.comment-up{
    padding: 20px 30px;
}
.line-comment{
    height: 2px;
  width: 95%;
  background-color: #d0d0d0;
  margin: auto;
}
.img-comment-user{
    width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5c5c5;
  border-radius: 100%;
  margin-left: 25px;
}
.comment-name{
    font-size: 20px;
  font-weight: 200;
}
.comment-role{
    font-size: 23px;
}
.comment-response{
    width: 50px;
  height: 50px;
  border: 2px solid #199dd6;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
}

.comment-response img{
    width: 30px;
}

.comment-down{
    padding: 39px;
}
.comment-down p{
    font-size: 27px;
}