*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #151d27;
  color: white;
}
.header{
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../../public/image/header-1.jpg) no-repeat center center;
    background-attachment: scroll, scroll;
    background-size: auto, auto;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 2px;
}
.nav-bar{
    background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 15px 55px;
  border-radius: 40px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: tanha;
}
.top-header{
    background-color: #e9e9e9;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    max-width: 1300px;
    margin: auto;
}
.top-header-right ul{
    display: flex;
    gap: 20px;
}
.top-header-right ul li{
    list-style: none;
}
.top-header-right ul li a{
    text-decoration: none;
    color: black;
    white-space: nowrap;
}
.top-header-left{
    display: flex;
    gap: 20px;
}
.a-drop{
    color: white;
}
.top-header-left div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 70px;
    max-width: 1300px;
    margin: 20px auto 40px;
}
.nav-bar-right{
    display: flex;
    align-items: center;
}
.nav-bar-right ul{
    display: flex;
    gap: 70px;
}
.nav-bar-right ul li{
    list-style: none;
}
.nav-bar-left{
    display: flex;
    gap: 10px;
}
.name-nav{
    padding: 10px 20px;
    border: solid 2px #8eb69b;
    background-color: transparent;
    color: #8eb69b;
    border-radius: 5px;
    transition: all 0.5s;
}
.name-nav:hover{
    background-color: #8eb69b;
    color: #151d27;
}
.logo img{
    width: 100px;
    margin-left: 70px;
}
.shopping-cart-icon{
    color: black;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}
.shopping-cart-icon svg,.search-bar-nav svg{
    height: 15px;
}
.search-bar-nav{
    color: #1eb35b;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
}

.menu {
    display: flex;
    list-style: none;
}

.menu-item {
    position: relative;
}

.menu-link {
    color: #ecf0f1;
    text-decoration: none;
    padding: 0 20px;
    height: 70px;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.menu-link:hover {
    background-color: #34495e;
}

.dropdown > .link:hover{
    color: #1eb35b;
}

.dropdown{
    position: relative;
}
.dropdown-menu{
    position: absolute;
    right: 0;
    top: calc(100% + .25rem);
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    opacity: 0;
    pointer-events: none;
    transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    transform: translateY(-10px);
    z-index: 100;
}
.active{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.whenIsActive{
    width: 300px;
    padding: 10px;
    border-bottom: 2px solid #dcd8d8;
    border-radius: 5px;
    transition: all 150ms ease-in-out;
    background-color: white;

}
.whenIsActive:hover{
    background-color: #dcd8d8;
}
.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing-left h1{
    font-family: tanha;
  font-size: 64px;
}
.landing-left p{
    
    margin: 30px 0;
}
.landing-input input{
    position: relative;
  width: 500px;
  padding: 13px 35px 13px 10px;
  border: none;
  border-radius: 15px;
  margin-top: 15px;
}
.landing-left-bottom{
    display: flex;
    align-items: center;
}
.landing-left-bottom button{
    background-color: #3F7C6C;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 15px;
  font-size: 13px;
}

.hamburger-icon{
    display: none;
}
.hamburger-icon img{
    width: 25px;
    height: 25px;
}
.hamburger-menu{
    position: absolute;
  background-color: #151d27;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 30px;
  right: -7%;
}