/* Start landing Styles */

.landing {
  
  background-size: cover;
  background-attachment: fixed;
  padding: 9rem 0;
  color: white;
  display: flex;
  max-width: 1300px;
  margin: auto;
  justify-content: space-around;
  align-items: center;
}
.landing-right img{
  width: 400px;
}

.landing__title {
  font-size: 3.4rem;
  font-weight: bold;
  color: white;
}

.landing__subtitle {
  font-size: 1.8rem;
  margin-top: 0.3rem;
  color: white;
}

.landing__searchbar {
  width: 700px;
  position: relative;
  margin: 3.5rem auto;
}

.landing__searchbar-input {
  width: 100%;
  padding: 30px 20px 30px 10px;
  border: none;
  border-radius: 1rem;
  outline: none;
}

.landing__searchbar-btn {
  border: none;
  background-color: #1eb35b;
  position: absolute;
  left: 1rem;
  width: 60px;
  top: 0.7rem;
  height: 55px;
  border-radius: 1rem;
}

.landing__searchbar-icon {
  font-size: 2.8rem;
  color: white;
}

.landing-status {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.landing-status__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing-status__item svg {
  fill: white;
}

.landing-status__count {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 0.5rem;
  color: white;

}

.landing-status__text {
  font-weight: bold;
  color: white;

}

/* Finish landing Styles */

.p-landing-left{
  width: auto;
  margin-left: 48px !important;
}
.search-landing input{
  width: 500px !important;
  padding: 13px 35px 13px 10px;
  border: none;
  border-radius: 15px;
  margin-top: 20px;
}