.loan-container{
    max-width: 1300px;
    margin: 150px auto;
}
.loan{
    background-image: linear-gradient(to right,#A27491,#1B476E);
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 40px;
    color: white;
}
.support-loan{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.support-loan button{
    margin-top: 25px;
  padding: 12px 60px;
  border: none;
  border-radius: 15px;
  background-color: #8EB69B;
  color: white;
  font-size: 20px;
}
.loan-title{
    display: flex;
    align-items: center;
    font-size: 40px;
    gap: 20px;
    margin-bottom: 10px;
}
.loan p{
    width: 960px;
    text-align: center;
}