/* Start Course boxes styles */

.course-boxes__box {
  display: flex;
  border-radius: 20px;
  padding: 1.8rem 2rem;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
  background-color: #3e5471;
  width: 315px;
  margin: 1rem 0;

}

.course-boxes__box-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-boxes__box-right-icon {
  font-size: 3.5rem;
  color: #1fbd50;
}

.course-boxes__box-left {
  display: flex;
  flex-direction: column;
  margin-right: 1.5rem;
}

.course-boxes__box-left-title {
  font-size: 1.6rem;
  color: #858c96;
}

.course-boxes__box-left--subtitle {
  font-size: 1.6rem;
  color: #7d7e7f;
}

/* Finish Course boxes styles */
